<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Notes</title>
    <link rel="stylesheet" href="/home_page.css">
</head>
<script src="/authenticate_user.js"></script>
<body>
    
    <div class="main">
        <div id="left">
            <div class="entity">Magic</div>
            <div class="entity">Notes</div>
        </div>
        <div id="right" class="entity">
            <div id="login" onclick="location.href='/login'">Log In</div>
            <div id="signup" onclick="location.href='/signup'">Sign Up</div>
        </div>
    </div>

</body>
</html>